<h1>Mapprr Task</h1>

<div style="margin-top:50px">
  <h4>Links</h4>
  <ul>
    <li>
      <a href="/admin/products"> Admin Link</a>
    </li>
    <li>
      <a href="/products/new"> Add New Product </a>
    </li>
  </ul>
</div>
